{% extends 'base.html' %}
{% load humanize %}
{% block content %}
  
  
  <main class="mt-5 pt-4">
    
      
    <div class="container dark-grey-text mt-5">

      <div class="row wow fadeIn">

        <div class="col-md-6 mb-4">

          <img src="{{ object.image.url }}" class="img-fluid" alt="">

        </div>

        <div class="col-md-6 mb-4">

          <div class="p-4">
            <p class="lead">
              <p class="lead font-weight-bold">{{ object.title }}</p>
              <span class="mr-1">
                {% if object.discount_price %}
                <del>Rp. {{ object.price|intcomma }}</del>
              </span>
              <span>Rp. {{object.discount_price|intcomma }}</span>
                {% else %}
              <span>Rp. {{object.price|intcomma }}</span>
                {% endif %} 
            </p>

            <p class="lead font-weight-bold">Description</p>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et dolor suscipit libero eos atque quia ipsa
              sint voluptatibus!
              Beatae sit assumenda asperiores iure at maxime atque repellendus maiores quia sapiente.</p>

            <form class="d-flex justify-content-left" method="POST" action='.'>
              {% csrf_token %}
              <input type="number" value="1" id="quant" name="quant" class="form-control" style="width: 100px">
              <button style="color: rgb(255,255,255)" class="btn btn-primary btn-md my-0 p" type="submit">Add to cart
                <i class="fas fa-shopping-cart ml-1"></i></button>
              <a href="{{ object.remove_from_cart_url}}" style="color: rgb(255,255,255)" class="btn btn-danger btn-md my-0 p">Remove from cart
                <i class="fas fa-shopping-cart ml-1"></i></a>
            </form>
          </div>

        </div>

      </div>


    </div>
  </main>

{% endblock content %}
